<?php
/** @var Studioforty9_Stores_Block_Adminhtml_Renderer_Hours $this */
$_htmlId = $this->getElement()->getHtmlId();
$_htmlLabel = $this->getElement()->getLabel();
$_htmlClass = $this->getElement()->getClass();
$_htmlName = $this->getElement()->getName();
$_value = $this->getElement()->getValue();
$_showWebsite = false;//$this->isMultiWebsites();
?>
<table cellspacing="0" class="form-list">
    <tbody>
        <tr>
            <td class="label"><?php echo Mage::helper('studioforty9_stores')->__($_htmlLabel); ?></td>
            <td colspan="10" class="grid tier">
                <table cellspacing="0" class="data border" id="stores_hours_table">
                    <?php if ($_showWebsite) : ?>
                    <col width="135" />
                    <?php endif; ?>
                    <col width="120" />
                    <col width="120" />
                    <col width="120" />
                    <thead>
                    <tr class="headings">
                        <th <?php if (!$_showWebsite): ?>style="display: none;"<?php endif; ?>><?php echo Mage::helper('studioforty9_stores')->__('Website'); ?></th>
                        <th><?php echo Mage::helper('studioforty9_stores')->__('Day'); ?></th>
                        <th><?php echo Mage::helper('studioforty9_stores')->__('Open'); ?></th>
                        <th><?php echo Mage::helper('studioforty9_stores')->__('Closed'); ?></th>
                    </tr>
                    </thead>
                    <tbody id="<?php echo $_htmlId; ?>_container">
                        <?php for ($i = 0; $i < 7; $i++): ?>
                        <tr>
                            <td <?php if (!$_showWebsite): ?>style="display: none;"<?php endif; ?>><?php echo Mage::helper('studioforty9_stores')->__('Website'); ?></td>
                            <td><?php echo jddayofweek($i, 1); ?></td>
                            <td><input type="time" name="<?php echo $_htmlName; ?>[<?php echo $i; ?>][open]" class="input-text" value="<?php echo $this->getOpenValue($_value, $i) ?>" /></td>
                            <td><input type="time" name="<?php echo $_htmlName; ?>[<?php echo $i; ?>][close]" class="input-text" value="<?php echo $this->getClosedValue($_value, $i) ?>" /></td>
                        </tr>
                        <?php endfor; ?>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
