<?php
/**
 * Magmodules.eu - http://www.magmodules.eu - info@magmodules.eu
 * =============================================================
 * NOTICE OF LICENSE [Single domain license]
 * This source file is subject to the EULA that is
 * available through the world-wide-web at:
 * http://www.magmodules.eu/license-agreement/
 * =============================================================
 * @category    Magmodules
 * @package     Magmodules_Reviewemail
 * @author      Magmodules <info@magmodules.eu>
 * @copyright   Copyright (c) 2015 (http://www.magmodules.eu)
 * @license     http://www.magmodules.eu/license-agreement/  
 * =============================================================
 */
 
 if(Mage::getStoreConfig('reviewemail/general/enabled')) { 
	 if($reviews = $this->getPendingReviews()) {
		$count = $reviews->count();
		$url = $this->getUrl('adminhtml/catalog_product_review/pending');
?>
		<div class="notification-global">
			<strong class="label"><?php echo $this->__('Reviews') ?>:</strong>
			<?php 
				if($count > 1) {
					echo $this->__('There are %d new product reviews! %s', $count, '<a href="' . $url . '">' . $this->__('View Reviews') . '</a>');
				} elseif ($count == 1) {
					$product = $reviews->getFirstItem();
					echo $this->__('A new review for "%s" has been submitted. %s', $product->getName(), '<a href="' . $this->getProductReviewUrl($product) . '">' . $this->__('View Review') . '</a>');
				}
			?>
		</div>
	<?php } ?>
<?php } ?>
