<?php
/** @var $this Studioforty9_Schema_Block_Contacts_Page */

$address = $this->getAddress();
$locality = $this->getLocality();
$postalCode = $this->getPostalCode();
?>
<div class="stores">
    <h2 class="subtitle"><?php echo Mage::helper('contacts')->__('Our Locations'); ?></h2>

    <div class="store" itemscope itemtype="http://schema.org/Organization">
        <div class="store-info">
        <?php if ($name = $this->getName()): ?>
            <span class="store-name" itemprop="name"><?php echo $name; ?></span>
        <?php endif; ?>
        <?php if ($address || $postalCode || $locality): ?>
            <div class="store-detail" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <?php if ($address): ?>
                <span itemprop="streetAddress"><?php echo $address; ?></span>
            <?php endif; ?>
            <?php if ($postalCode): ?>
                <span itemprop="postalCode"><?php echo $postalCode; ?></span>
            <?php endif; ?>
            <?php if ($locality): ?>
                <span itemprop="addressLocality"><?php echo $locality; ?></span>
            <?php endif; ?>
            </div>
        <?php endif; ?>
        </div>
        <div class="store-actions">
        <?php if ($phone = $this->getPhone()): ?>
            <span class="fa fa-phone"></span> <span itemprop="telephone"><?php echo $phone; ?></span>
        <?php endif; ?>
        <?php if ($fax = $this->getFax()): ?>
            <span itemprop="faxNumber"><?php echo $fax; ?></span>
        <?php endif; ?>
        <?php /*if ($email = $this->getEmail()): ?>
            <span itemprop="email"><?php echo $email; ?></span>
        <?php endif;*/  ?>
        </div>
    </div>
</div>
