<?php
$action = "https://greenesshoes.us7.list-manage.com/subscribe/post?u=7dd0eb6c1263e878b1dbecdef&amp;id=992adac90e";
?>
<div class="block block-subscribe">
    <div class="block-title">
        <strong><span><?php echo $this->__('Subscribe') ?></span></strong>
    </div>
    <form action="<?php echo $action; ?>" method="post" id="newsletter-validate-detail">
        <div class="block-content">
            <div class="form-subscribe-header">
                <label for="newsletter"><?php echo $this->__('Sign up for our latest news and offers'); ?></label>
            </div>
            <div class="input-box">
                <input placeholder="Email" type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="EMAIL" id="newsletter" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Sign up for our newsletter')) ?>" class="input-text required-entry validate-email" />
                <button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Subscribe')) ?>" class="button">
                    <span class="fa fa-envelope"></span>
                </button>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
    //]]>
    </script>
</div>
