.entry-edit-head {
    padding: 4px 15px !important;
    width: 38.25%;
    border: 1px solid rgba(0,0,0,0.3)
}
.half-width {
    padding: 10px 15px;
    width: 38.25%;
}

.stores-container {
    position: relative;
}
.map-canvas-container {
    height: 1150px;
    position: absolute;
    right: 30px;
    top: 50px;
    width: 55%;
}
#map-canvas {
    display: block !important;
    width: 100% !important;
    height: 1150px !important;
}

#map-lookup {
    background: #fff;
    box-shadow: 0 0 4px #000;
    left: 50%;
    margin-left: -200px;
    position: absolute;
    top: 20px;
    width: 400px;
}

#map-lookup-query {
    background: #fff;
    border: none;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 275px;
}
#map-lookup-button {
    background: #ff9900;
    border: none;
    color: #ffe8c6;
    font-size: 14px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    right: 0;
    text-shadow: 0 1px 0 #693f01;
    top: 0;
}
#map-lookup-button:hover {
    background: #ffa113;
    color: #fff;
}
