<?php
$_collection = $this->getCollection();
$_collectionCount = $_collection->count();
$index = 0;
?>

<div id="banner-carousel" class="carousel slide" data-ride="carousel" data-wrap="true" data-interval="8000">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
    <?php foreach ($_collection as $slide): ?>
        <?php $link = $slide->getLink(); ?>
        <?php $title = $slide->getTitle(); ?>
        <?php $summary = $slide->getSummary(); ?>
        <div class="item banner <?php echo $slide->getThemeClass(); ?><?php echo ($index === 0) ? ' active' : ''; ?>" style="background-color: <?php echo $slide->getColor(); ?>" data-theme="<?php echo $slide->getThemeClass(); ?>">
            <div class="banner__slide">
                <?php if (!empty($link)): ?><a class="banner__slide-link" href="<?php echo $link; ?>"><?php endif; ?>
                <?php if ($slide->exists()): ?>
                    <img
                        class="banner__slide-photo"
                        data-src-lg="<?php echo $slide->getImageUrl(); ?>"
                        data-src-md="<?php echo $slide->getImageTabletUrl(); ?>"
                        data-src-sm="<?php echo $slide->getImageMobileUrl(); ?>"
                    />
                <?php else: ?>
                    <img
                        class="banner__slide-photo"
                        data-src-lg="<?php echo $this->getSkinUrl(); ?>images/placeholder-slide-image.jpg"
                        data-src-md="<?php echo $this->getSkinUrl(); ?>images/placeholder-slide-image_tablet.jpg"
                        data-src-sm="<?php echo $this->getSkinUrl(); ?>images/placeholder-slide-image_phone.jpg"
                    />
                <?php endif; ?>
                <?php if (!empty($link)): ?></a><?php endif; ?>
                    <div class="banner__slide-text">
                        <h3 class="banner__slide-text-title"><?php echo $title; ?></h3>
                        <p class="banner__slide-text-summary"><?php echo $summary; ?></p>
                        <a class="banner__slide-text-link btn btn-outline" href="<?php echo $link; ?>"><?php echo $this->__('Show Now'); ?><span class="fa fa-caret-right"></span></a>
                    </div>
            </div>
        </div>
        <?php $index++; ?>
    <?php endforeach; ?>
    </div>

    <?php $index = 0; ?>
    <ol class="carousel-indicators <?php echo $_collection->getFirstItem()->getThemeClass(); ?>">
        <?php foreach ($_collection as $slide): ?>
        <li data-target="#banner-carousel" data-slide-to="<?php echo $index; ?>"<?php echo ($index === 0) ? ' class="active"' : ''; ?>></li>
        <?php $index++; ?>
        <?php endforeach; ?>
    </ol>

    <!-- Controls -->
    <a class="left carousel-control <?php echo $_collection->getFirstItem()->getThemeClass(); ?>" href="#banner-carousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control <?php echo $_collection->getFirstItem()->getThemeClass(); ?>" href="#banner-carousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
</div>
