.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;

  > .item {
    display: none;
    position: relative;
    @include transition(.6s ease-in-out left);

    // Account for jankitude on images
    > img,
    > a > img {
      @include img-responsive;
      line-height: 1;
    }

    // WebKit CSS3 transforms for supported devices
    @media all and (transform-3d), (-webkit-transform-3d) {
      @include transition-transform(0.6s ease-in-out);
      @include backface-visibility(hidden);
      @include perspective(1000px);

      &.next,
      &.active.right {
        @include translate3d(100%, 0, 0);
        left: 0;
      }
      &.prev,
      &.active.left {
        @include translate3d(-100%, 0, 0);
        left: 0;
      }
      &.next.left,
      &.prev.right,
      &.active {
        @include translate3d(0, 0, 0);
        left: 0;
      }
    }
  }

  > .active,
  > .next,
  > .prev {
    display: block;
  }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    width:  10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;

    // IE8-9 hack for event handling
    //
    // Internet Explorer 8-9 does not support clicks on elements without a set
    // `background-color`. We cannot use `filter` since that's not viewed as a
    // background color by the browser. Thus, a hack is needed.
    // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Internet_Explorer
    //
    // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
    // set alpha transparency for the best results possible.
    background-color: #000 \9; // IE8
    background-color: rgba(0,0,0,0); // IE9
  }
  .active {
    margin: 0;
    width:  12px;
    height: 12px;
    background-color: $carousel-indicator-active-bg;
  }
}

.carousel-indicators.dark {
  li {
    border: 1px solid rgba(255,255,255,1);
  }
  .active {
    background-color: rgba(255,255,255,1);
  }
}

.carousel-indicators.light {
  li {
    border: 1px solid rgba(0,0,0,.8);
  }
  .active {
    background-color: rgba(0,0,0,.8);
  }
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $carousel-caption-color;
  text-align: center;
  text-shadow: $carousel-text-shadow;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}


// -----
// Studioforty9 Slider Specific
// -----
#banner-carousel {
  margin-top: 15px;
  position: relative;
  min-height: 480px;
}

.banner__slide {
  position: relative;
}
.banner__slide-text {
  position: absolute;
  bottom: 30px;
  right: 30px;
  max-width: 450px;
  padding: 30px;
  text-align: right;

  &-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 0 30px;
    text-transform: none;
  }
  &-summary {
    font-family: $f-stack-serif;
    font-weight: 400;
    margin-bottom: 30px;
  }
  &-link {
    border: 2px solid rgba(0,0,0,0.0);
    cursor: pointer;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;

    .fa, .icon, .glypgicon {
      padding-left: 10px;
    }
  }
}

.banner__slide-text-summary {
  font-size: 36px;
  }

.item.dark {
  .banner__slide-text {
    color: rgba(255,255,255,0.8);
  }
  .banner__slide-text-title {
    color: rgba(255,255,255,1.0);
  }
  .banner__slide-text-summary {
    color: rgba(255,255,255,0.8);
  }
  .banner__slide-text-link {
    border-color: rgba(255,255,255,1.0);
    color: rgba(255,255,255,1.0);
    .fa, .icon, .glypgicon {
      color: rgba(255,255,255,1.0);
    }
    &:hover {
      background-color: rgba(255,255,255,1.0);
      color: rgba(0,0,0,.8);

      .fa, .icon, .glypgicon {
        color: rgba(0,0,0,.8);
      }
    }
  }
}


$item_light_color: rgba(0,0,0,0.6);
.item.light {
  .banner__slide-text {
    color: $item_light_color;
    @include bp(max-width, $bp-medium) {
      background: rgba(255,255,255,0.7);
      margin-left: 15px;
      }
  }
  .banner__slide-text-title {
    color: $item_light_color;
  }
  .banner__slide-text-summary {
    color: $item_light_color;
  }
  .banner__slide-text-link {
    border-color: $item_light_color;
    color: $item_light_color;
    .fa, .icon, .glypgicon {
      color: $item_light_color;
    }
    &:hover {
      background-color: $item_light_color;
      border-color: rgba(0,0,0,0);
      color: rgba(255,255,255,1);

      .fa, .icon, .glypgicon {
        color: rgba(255,255,255,1);
      }
    }
  }
}

// -----
// Carousel Controls
// -----
.carousel-control {
  cursor: pointer;
  display: block;
  font-size: 18px;
  position: absolute;
  top: 60px;

  &:hover {
    text-decoration: none;
  }
}
.left {
  right: 80px;
}
.right {
  right: 60px;
}
.carousel-control.dark {
  color: rgba(255,255,255,.6);
  &:hover {
    color: rgba(255,255,255,1);
  }
}
.carousel-control.light {
  color: rgba(0,0,0,.6);
  &:hover {
    color: rgba(0,0,0,.6);
  }
}

@include bp(max-width, $bp-medium) {
  .carousel-control {
    font-size: 30px;
    }
  .right {
    right: 40px;
    }
  }