.studioforty9-brands-index-index,
.studioforty9-brands-index-list {
    .breadcrumbs {
        left: 0px;
        top: 18px;

        ul {
            padding-left: 15px;
        }
    }

    .toolbar {
        .count-container,
        .pager,
        .sort-by {
            display: none;
            }
        }
}

.brand-link a {
    display: block;
    font-size: 12px;
    padding: 1px 0;
}

.brand-group {
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
    padding: 0 30px 20px;

    .brand-group-title {
        padding: 0 15px;
    }

    &:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }
}

@include bp(max-width, $screen-sm) {
    .brand-group {
        border: none;
        margin: 0;
        padding: 0;
        div {
            border-bottom: 1px solid #ddd;
            margin: 15px 0 0;
            padding: 0 30px 15px;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (min-width: 480px) and (max-width: $screen-sm-max) {

    .studioforty9-brands-index-list
    .products-grid.products-grid--max-5-col > li {
            width: 22%;
            }
    }
