.callout-group {
  @extend .clearfix;
}

.callout-trust {
  background: #fff;
  display: table;
  margin-top: 15px;
  position: relative;
  width: 100%;

  .callout {
    color: #2e1219;
    float: left;
    font-size: 11px;
    display: table-cell;
    font-family: $f-stack-special;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 33.3333333333%;

    & > a {
      display: block;
      padding: 10px;
    }

    & > a:hover {
      color: lighten($c-greenes-action, 10%);

      text-decoration: none;
    }

    &:nth-child(even) {
      border-left: 1px solid rgba(0,0,0,0.1);
      border-right: 1px solid rgba(0,0,0,0.1);
    }

    .fa {
      font-size: 18px;
    }
  }
}

@include bp(max-width, $bp-medium) {
  .callout-trust {
    margin-top: 0;
  }
}

@include bp(max-width, $bp-small) {
  .callout-trust {
    margin-top: 0;
    .callout-1, .callout-3 {
      display: none;
    }
    .callout-2 {
      width: 100%;
    }
  }
}
