.promotion-category .promotion-image {
  img {
    max-width: 100%;
  }
}

.promotion-category .promotion-description {
  background-color: #ffffff;
  padding: 5px 15px;
  text-align: center;
}

.promotion-category .promotion-name {
  color: #393d3f;
  font-size: 15px;
  margin: 0;
  padding: 0;
  text-transform: none;

  a, a:hover {
    color: #393d3f;
    display: block;
    text-decoration: none;
  }
}

.promotion-category .promotion-button {
  color: #393d3f;
  display: block;
}

@include bp(max-width, $bp-small) {
  .promotion-categories {
    display: block;
    margin-bottom: 0;
    margin-left: -10px;
    margin-right: -10px;
  }

  .promotion-category {
    display: block;
    width: 100%;
  }
}

@include bp(min-width, $bp-small) {
  .promotion-categories {
    display: table;
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .promotion-category {
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 0px;
    width: 33.333333333%;
  }
}
