.category-title {
  text-align: center;
  .category-child-tags {
    @extend .clearfix;
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }
  .category-child-tag {
    background-color: $c-greenes-action;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin: 0 0 3px;
    padding: 4px 16px 4px 8px;
    text-transform: uppercase;

    .fa {
      position: relative;
      right: -8px;
    }

    &:hover {
      background-color: lighten($c-greenes-action, 10%);
      text-decoration: none;
    }
  }
}

@include bp(max-width, $bp-small) {
  .category-title,
  .category-child-tags {
      width: 100% !important;
  }
}

.category-title-container {
  padding: 30px 0 15px;
  .page-title, .page-title h1 {
    margin: 0;
    padding: 0;
  }
  .page-title h1 {
    margin-bottom: 15px;
  }
}

.category-description-container {
  .category-description {
    border-left: 4px solid $c-greenes-action;
    font-family: $f-stack-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    margin: 15px 0;
    padding: 15px 0 15px 30px;
  }
}
