// =============================================
// Cookie Notice
// =============================================
#v-cookielaw {
    background: $c-black;
    color: $c-text-white;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 4px 0;
    z-index: 9999;
    width: 100%;
    p {
        margin: 0;
        }
    a {
        color: $c-text-white;
        }
    }