.currency-switcher {
  cursor: pointer;
  position: relative;

  &:after {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  label, select {
    display: none;
  }

  /*@include bp(max-width, $bp-medium) {
    display: none;
  }*/

  .currency-selected {
    color: $c-text-white-80;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 150px;

    .fa-angle-down {
      font-size: 18px;
      left: 4px;
      position: relative;
      top: 2px;
    }

    &:hover {
      color: $c-text-white;
      }
  }

  .currency-list {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    display: none;
    min-width: 150px;
    position: absolute;
    transition: opacity .4s ease-in-out;
    top: 70%;
    z-index: 200;

    > a {
      border-bottom: 1px solid #ddd;
      display: block;
      padding: 10px;

      &:hover {
        background-color: rgba(0,0,0,0.01);
        text-decoration: none;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &:after {
      bottom: 100%;
      left: 15%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }
  }

  &.open > .currency-list {
    display: block;
  }
}
