.aln-mobile-button,
.filter-link {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #333 !important;
  display: block !important;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  left: 8px;
  position: absolute;
  text-transform: uppercase;
  top: 7px;
  width: 80px;
  z-index: 1000;
}

.toolbar {
  .pages {
    display: none;
    }
  }
.toolbar-bottom .toolbar {
  .pages {
    display: block;
    float: left;
    width: 100%;
    }
  }

.view-mode {
  a:hover {
    text-decoration: none;
    }
  }

.col1-layout .category-products,
.col2-left-layout .category-products,
.col2-right-layout .category-products {
  background-color: #fff;

  .toolbar {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #eaeaea;
    line-height: 1em;
    height: 50px;
    letter-spacing: 1px;
    line-height: 50px;
    margin: 0;
    padding: 0 15px;

    .view-mode {
      display: none;
    }
  }
  .toolbar-bottom {
    margin-top: -1px;
    .toolbar {
      border-bottom: none;
      border-top: 1px solid #eaeaea;
    }
  }

  @include bp(min-width, $bp-medium) {
    .toolbar .breadcrumbs {
      display: inline-block;
      line-height: 1em;
      margin: 0;
      width: 40%;
    }
  }

  @include bp(max-width, $bp-large) {
    .toolbar .breadcrumbs {
      display: none;
    }
  }

  .toolbar .sorter {
    float: right;
    margin: 0;
    width: 60%;

    .sort-by {
      float: right;
      height: 50px;
      margin: 0;
    }
    > .sort-by .select-box {
      float: left;
      margin-right: 8px;
      position: relative;
      top: 8px;
      width: 100px;

      select {
        font-family: $f-stack-serif;
        letter-spacing: 0;
      }
    }

    > .sort-by .sort-by-switcher {
      height: 24px;
      margin-top: 12px;
      width: 24px;
    }

    label {
      float: left;
      font-family: $f-stack-serif;
      font-size: 12px;
      letter-spacing: 0;
      margin: 0 10px 0 0;
      text-transform: none;
    }
  }
  .toolbar-bottom .pager {
    display: none;
  }

  .toolbar .pager select {
    @extend .form-control;
    display: inline-block!important;
    width: auto!important;
    }

  // Toolbar Bottom
  .toolbar-bottom .toolbar {
    .breadcrumbs,
    .filter-link,
    .sorter {
      display: none !important;
    }

    .pager {
      background-color: #fff;
      clear: both;
      display: block;
      margin: 0 -15px 0;
    }


    .pages > strong {
      display: none;
    }

    .pages > ol,
    .pages > ol > li {
      margin: 0;
      padding: 0;
    }

    .pages > ol {
      @extend .clearfix;
      display: block;
      height: 50px;
      overflow: hidden;
    }

    .pages > ol > li {
      display: block;
      float: left;
    }

    .pages > ol > li.current,
    .pages > ol > li > a {
      display: block;
      height: 50px;
      outline: none;
      padding: 0 20px;
      position: relative;
      width: 47.5px;

      &:after {
        background-color: #ddd;
        bottom: 0;
        content: "";
        display: block;

        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
      }
    }

    .pages > ol > li.current {
      background-color: #fcfcfc;
    }

    .pages > ol > li > a {
      &:hover {
        background-color: #eee;
        text-decoration: none;
      }
    }

    .pages > ol > li a.previous,
    .pages > ol > li a.next {
      position: relative;
      text-indent: -90000em;
      z-index: 10;

      &:before {
        @extend .fa;
        bottom: 0;
        display: block;
        left: 0;
        line-height: 50px;
        position: absolute;
        right: 0;
        text-align: center;
        text-indent: 0;
        top: 0;
        z-index: 1;
      }
    }

    .pages > ol > li a.previous:before {
      content: $greenes-icon-chevron-left;
    }
    .pages > ol > li a.next:before {
      content: $greenes-icon-chevron-right;
    }
  }

  // Products Grid

  .products-grid {
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
  }
  .products-grid.last {
    border-bottom: none;
  }

  .products-grid li {

    &:before,
    &:after {
      background-color: #eaeaea;
      content: "";
      display: block;
      position: absolute;
      z-index: 1000;
    }
    &:before {
      bottom: 0;
      height: 1px;
      left: 0;
      width: 100%;
    }
    &:after {
      bottom: 0;
      display: block;
      height: 100%;
      right: -1px;
      top: 0;
      width: 1px;
    }
  }

  .products-grid li:last-child {
    &:after {
      //display: none;
    }
  }

  .products-grid--max-4-col > li {
    margin: 0;
    min-height: 410px;
    width: 25%;
  }

  .no-touch .product-img-box .product-image:hover:not(.zoom-available),
  .product-image {
    border: none;
  }
}

.col2-left-layout .block-layered-nav {

  .block-title,
  .block-subtitle {
    display: none;
  }

  .block-content {
    margin: 0;
  }

  .currently {
    margin-bottom: 10px;

    dt {
      margin: 0 !important;
    }

    .ajaxlayered-expander {
      background-image: none !important;
    }

    dd {
      display: block !important;
      height: auto !important;
      margin-bottom: 10px !important;
      overflow: visible !important;
      padding-bottom: 10px !important;
    }

    .applied-filter {
      background-color: $c-greenes-primary;
      border-radius: $default-border-radius;
      color: #fff;
      display: inline-block;
      font-size: 12px;
      margin: 0 0 2px;
      padding: 3px 4px 3px 6px;
    }
    .label {
      font-weight: 400;
    }
    .actions {
      margin: 0;
    }
    .btn-remove {
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 50%;
      color: #fff;
      display: inline-block;
      height: 18px;
      line-height: 16px;
      margin: 0 0 0 6px;
      overflow: hidden;
      position: relative;
      text-align: center;
      width: 18px;

      &:hover {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
      }

      &:after {
        @extend .fa;
        content: $greenes-icon-times;
        color: #7a2f43;
        font-size: 10px;
        height: 18px;
        left: 0;
        line-height: 16px;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }

  .block-content > dl > dt {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #eaeaea;
    display: block;
    font-size: 11px;
    font-weight: 700;
    height: 50px;
    letter-spacing: 1px;
    line-height: 50px;
    margin: 0 0 10px;
    padding: 0 10px;
    position: relative;

    &.active {
      margin: 0;
    }
  }

  .block-content > dl > dd {
    background-color: #fff;
    border: none;
    margin-bottom: 20px;
    padding: 15px 10px;

    ol > li > a {
      font-family: $f-stack-serif;
      font-size: 13px;
    }
  }
}

@include bp(min-width, $bp-large+1) {
  .col2-left-layout .main {
    background-color: transparent;

    .col-left {
      width: 20%;
    }
    .col-main {
      width: 80%;
    }
    .category-title {
      width: 80%;
    }
  }
}

// =============================================
// Category/Search Layout
// =============================================
.catalogsearch-result-index .col2-left-layout,
.catalog-category-view .col2-left-layout {
  @include bp(max-width, $bp-large) {
    background: none;

    .main {
      background: none;
      }

    .col-main {
      float: right;
      width: 75%;
      .category-products {
        padding: 0 15px;

        li {
          width: 33%;
          }

        }
      }

    .col-left {
      display: block;
      float: left;
      width: 25%;
      padding: 0 15px;
      }
    }

  @include bp(max-width, $bp-medium) {

    .main {
      display: flex;
      flex-direction: column-reverse;
      }

    .col-main {
      float: none;
      width: 100%;
      }

    .col-left {
      float: none;
      width: 100%;
      .block-layered-nav {
        border: none;
        margin: 0;
        }
      #narrow-by-list {
        border: 0;
        padding: 0;
        }
      .block-content>dl>dd {
        display: inherit;
        }
      .block-content li {
        position: relative;
        }

      .ajaxlayerednavigation-count-minus,
      .ajaxlayerednavigation-count-plus,
      .ajaxlayerednavigation-count {
        position: absolute;
        right: 10px;
        top: 0;
        }
      }
    }

  }
