.payment-cards {
  margin: 0;
  padding: 0;

  // Large
  @include bp(max-width, $bp-small + 1) {
    height: 23px;
    width: 210px;
  }

  // Small
  @include bp(max-width, $bp-small) {
    height: 43px;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 110px;
  }

  .card {
    background-image: url("../images/payment-sprite.png");
    background-repeat: none;
    display: block;
    float: left;
    height: 20px;
    margin-bottom: 6px;
    margin-right: 4px;
    text-indent: -90000em;
    width: 32px;

    &:after {
      @extend .clearfix;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .card-paypal {
    background-position: 0 0;
  }
  .card-visa {
    background-position: 32px 0;
  }
  .card-visa-debit {
    background-position: 64px 0;
  }
  .card-visa-electron {
    background-position: 96px 0;
  }
  .card-mastercard {
    background-position: 128px 0;
  }
  .card-delta {
    background-position: 160px 0;
  }
}
