.promotion-products {
  background-color: #fff;
  border-radius: $default-border-radius;

  &:after {
    @extend .clearfix;
  }
}

.promotion-products .promotion-details {
  background-color: $c-greenes-primary;
  padding: 30px;
  position: relative;

  &:after {
    @extend .clearfix;
  }
}

.promotion-products .promotion-heading {
  color: #fff;
  display: block;
  font-family: $f-stack-sans;
  font-size: 32px;
  text-transform: none;
}

.promotion-products .promotion-body {
  color: #fff;
  display: block;
  font-size: 14px;
  font-family: $f-stack-serif;
  text-transform: none;
}

.promotion-products .promotion-button {
  color: #fff;
  display: block;
  &-outline {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    transition: all .4s ease-out;

    &:hover {
      background-color: #fff;
      color: $c-greenes-primary;
      transition: all .2s ease-in;
    }
  }
}

.promotion-products .promotion-product {
  padding: 10px 15px;
  position: relative;
  text-align: center;
  .product-name {
    clear: both;
    }
}

.promotion-products .product-image {
  border: none;
  display: block;
  height: 200px;
  line-height: 200px;
  text-align: center;
  max-width: 200px;

  img {
    position: relative;
    display: inline-block;
    border: none;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}

@include bp(max-width, $bp-medium) {
  .promotion-products {
    display: block;
    margin-left: -10px;
    margin-right: -10px;
  }

  .promotion-products .promotion-details {
    clear: both;
    display: block;
    text-align: center;

    &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(77, 25, 46, 0);
      border-top-color: #4d192e;
      border-width: 10px;
      margin-left: -10px;
      z-index: 100;
    }
  }

  .promotion-products .promotion-product {
    display: inline-block;
    float: left;
    width: 50%;

    &:after {
      background-color: #eeeeee;
      border: none;
      content: "";
      height: 100%;
      position: absolute;
      pointer-events: none;
      right: 0;
      top: 0;
      width: 1px;
    }

    &:last-child:after {
      display: none;
    }
  }

  .promotion-products .promotion-heading {
    margin-bottom: 0;
  }

  .promotion-products .promotion-body {
    margin: 0 0 10px;
  }
}

@include bp(max-width, $bp-medium) {
  .promotion-products .promotion-product {
    min-height: 325px;

    &:before {
      background-color: #eee;
      border: none;
      content: "";
      height: 1px;
      pointer-events: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
}

@media (min-width: $bp-medium) and (max-width: $bp-large) {
  .promotion-products {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .promotion-products .promotion-details {
    clear: both;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: left;

    &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(77, 25, 46, 0);
      border-top-color: #4d192e;
      border-width: 10px;
      margin-left: -10px;
      z-index: 100;
    }
  }

  .promotion-products .promotion-heading {
    float: left;
    font-size: 18px;
    margin: 0;
    padding: 5px;
  }

  .promotion-products .promotion-body {
    float: left;
    font-size: 12px;
    margin: 0 0 10px;
    padding: 8px;
  }

  .promotion-products .promotion-button {
    float: right;
  }

  .promotion-products .promotion-product {
    float: left;
    width: 25%;

    &:after {
      background-color: #eeeeee;
      border: none;
      content: "";
      height: 100%;
      position: absolute;
      pointer-events: none;
      right: 0;
      top: 0;
      width: 1px;
    }
  }
}


@include bp(min-width, $bp-large) {
  .promotion-products {
    display: table;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
  }

  .promotion-products .promotion-details {
    border-bottom-left-radius: $default-border-radius;
    border-top-left-radius: $default-border-radius;
    display: table-cell;
    vertical-align: bottom;
    width: 16%;

    &:after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(77, 25, 46, 0);
      border-left-color: #4d192e;
      border-width: 10px;
      margin-top: -10px;
    }
  }

  .promotion-products .promotion-product {
    display: inline-block;
    float: left;
    height: 300px;
    vertical-align: top;
    width: 24.7162%;

    &:after {
      background-color: #eeeeee;
      border: none;
      content: "";
      height: 100%;
      position: absolute;
      pointer-events: none;
      right: 0;
      top: 0;
      width: 1px;
    }

    &:last-child {
      border-bottom-right-radius: $default-border-radius;
      border-top-right-radius: $default-border-radius;
      &:after {
        display: none;
      }
    }

    .product-name,
    .price-box {
      display: block;
    }
  }

  .promotion-products .promotion-heading {
    margin-bottom: 10px;
  }

  .promotion-products .promotion-body {
    padding: 15px 0;
  }
}


@include bp(max-width, $bp-medium) {
  .promotion-products {
    .promotion-product:nth-child(4) {
      clear: both;
      }
    .promotion-product:nth-child(5) {
      clear: right;
      }
    }
  }