
.store {
  border: 1px solid #ddd;
  border-top: none;
  margin: 0;
  padding: 40px 20px;

  @extend .clearfix;

  .store-info {
    float: left;
    @include bp(min-width, $bp-xsmall + 1) {
      width: 60%;
    }
  }

  .store-actions {
    float: right;
    @include bp(min-width, $bp-xsmall + 1) {
      width: 35%;
    }
  }

  .store-name {
    color: #000000;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .store-detail {
    color: #333333;
    display: block;
    font-family: $f-stack-serif;
    font-size: 13px;
    margin-bottom: 6px;
  }

  .store-link {
    color: $c-greenes-action;
    display: block;
    font-size: 13px;
  }
}

.store-hours {
  background-color: #eaeaea;
  border-top: 1px solid #ddd;
  clear: both;
  display: none;
  margin: 30px -20px 0px;
  padding: 15px;
  font-size: 12px;
  position: relative;
  bottom: 0;
  top: 40px;
}

.store-day {
  border-bottom: 1px solid #ddd;
  display: table;
  width: 100%;

  .store-hours-day {
    display: table-cell;
    width: 40%;
  }
  .store-hours-time {
    display: table-cell;
  }
}
