
.block-subscribe {
  margin: 0 !important;
  padding: 0 15px;

  @include bp(max-width, $bp-small) {
    padding: 0 30px;
  }

  .input-box {
    float: left;
    padding: 0 58px 0 0;
    position: relative;
    width: 100%;
  }

  .input-text {
    width: 100%;
    border-right: 0;
    border-top-left-radius: $default-border-radius;
    border-top-right-radius: 0;
    border-bottom-left-radius: $default-border-radius;
    border-bottom-right-radius: 0;
  }

  .block-title {
    border: none;
    display: block;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 0;
    padding: 15px 0 5px;
    text-align: center;
    text-transform: uppercase;

    strong {
      font-size: 12px;
    }
  }

  .block-content {
    margin: 0;
    padding: 0;

    &:after {
      @include clearfix;
    }
  }

  .form-subscribe-header {
    color: rgba(255,255,255,0.8);
    font-family: $f-stack-serif;
    font-size: 12px;
    padding: 5px 0 15px;
    text-align: center;

    label {
      font-family: $f-stack-serif;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .button {
    background-color: $c-greenes-action;
    border-bottom-right-radius: $default-border-radius;
    border-top-right-radius: $default-border-radius;
    cursor: pointer;
    float: left;
    font-size: 28px;
    height: 51px;
    line-height: 1em;
    transition: all .4s ease-out;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: 58px;

    &:hover {
      background-color: lighten($c-greenes-action, 10%);
      transition: all .15s ease-out;
    }
  }
}
