<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
                <tr id="footer-social-links">
                    <td>
                        <a class="sm-link"  href="{{config_path='greenes_general/social_media/facebook'}}">
                            <img src="{{skin url='images/email/facebook-24.png'}}" title="Find Us On Facebook" alt="Facebook Icon"/>
                        </a>
                        <a class="sm-link"  href="{{config_path='greenes_general/social_media/twitter'}}">
                            <img src="{{skin url='images/email/twitter-24.png'}}" title="Follow Us On Twitter" alt="Twitter Icon"/>
                        </a>
                        <a class="sm-link"  href="{{config_path='greenes_general/social_media/pinterest'}}">
                            <img src="{{skin url='images/email/pinterest-24.png'}}" title="Follow Us On Pinterest" alt="Pinterest Icon"/>
                        </a>
                        <a class="sm-link"  href="{{config_path='greenes_general/social_media/youtube'}}">
                            <img src="{{skin url='images/email/youtube-24.png'}}" title="Follow Us On YouTube" alt="YouTube Icon"/>
                        </a>
                        <a class="sm-link"  href="{{config_path='greenes_general/social_media/instagram'}}">
                            <img src="{{skin url='images/email/instagram-24.png'}}" title="Follow Us On Instagram" alt="Instagram Icon"/>
                        </a>
                        <a class="sm-link"  href="{{config_path='greenes_general/social_media/googleplus'}}">
                            <img src="{{skin url='images/email/googleplus-24.png'}}" title="Follow Us On Google" alt="Google+ Icon"/>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
