<?php if (Mage::helper("ajaxlayerednavigation/mobile")->isMobileDeviceDetected()) : ?>
    <?php if (Mage::getStoreConfig('ajaxlayerednavigation/range/slider')) : ?>
        <?php
            $from = $this->getMinPrice();
            $to = $this->getMaxPrice();
            if ($this->getMinPrice() == $this->getMaxPrice()) {
                $from = $this->getMinPrice() - 1;
            }
            $defaulValue = $from . ';' . $to;
            $urlVar = $this->getUrlVar();
        ?>
    <ul class="aln-mobile-options aln-mobile-option-price">
        <li>
            <input type="text"
                id="ajaxlayerednavigation-<?php echo $urlVar ?>"
                class="ajaxlayerednavigation-sliders"
                name="rangeName"
                value="<?php echo $defaulValue ?>" />
        </li>
    </ul>

    <?php else : ?>
        <?php $_items = $this->getItems(); ?>
        <?php if (count($_items) > 0) : ?>
            <ul class="aln-mobile-options">
                <?php foreach ($_items as $_item) : ?>
                    <?php if ($_item->getCount() || $_item->getActive()) : ?>
                        <li>
                            <a href="<?php if (!$_item->getActive()) { echo $this->urlEscape($_item->getUrl()); } else { echo ''; } ?>">
                                <?php
                                    if ($this->getActiveFilter()) {
                                        if ($_item->getMinus()) {
                                            echo '<span class="jquery-accordion-menu-label">  </span>';
                                        } else {
                                            echo '<span class="jquery-accordion-menu-label aln-mobile-red"> +' . $_item->getCount() . '</span>';
                                        }
                                    } else {
                                        echo '<span class="jquery-accordion-menu-label aln-mobile-green"> ' . $_item->getCount() . '</span>';
                                    }
                                ?>
                                <label>
                                    <input type="checkbox" name="checkboxName" class="aln-filter-checkbox"/>
                                    <div class="aln-option-switch"></div>
                                    <p class="aln-option-label"><?php echo $this->urlEscape($_item->getLabel()) ?></p>
                                </label>
                            </a>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        <?php endif; ?>
    <?php endif; ?>
<?php else : ?>
    <?php if (Mage::getStoreConfig('ajaxlayerednavigation/range/slider')) : ?>
        <?php
            $from = $this->getMinPrice();
            $to = $this->getMaxPrice();
            if ($this->getMinPrice() == $this->getMaxPrice()) {
                $from = $this->getMinPrice() - 1;
            }
            $defaulValue = $from . ';' . $to;
            $urlVar = $this->getUrlVar();
        ?>

    <input type="text" id="ajaxlayerednavigation-<?php echo $urlVar ?>" class="ajaxlayerednavigation-sliders" name="rangeName" value="<?php echo $defaulValue ?>" />
    <?php else : ?>
        <ol>
            <?php foreach ($this->getItems() as $_item) : ?>
                <li>
                    <?php if (!$_item->getActive() && $_item->getCount() > 0) : ?>
                        <input type="checkbox" class="ajax-option-checkbox" name="option<?php echo $_item->getValue() ?>" value="<?php if (!$_item->getActive()) { echo $_item->getUrl(); } else { echo $_item->getRemoveUrl(); } ?>" <?php if ($_item->getActive()) : ?> checked="checked"<?php endif; ?> >
                        <a href="<?php echo $this->urlEscape($_item->getUrl()) ?>" class="ajax-option-link"><?php echo $_item->getLabel() ?></a>
                    <?php elseif ($_item->getActive()) : ?>
                        <input type="checkbox" class="ajax-option-checkbox" name="option<?php echo $_item->getValue() ?>" value="<?php if (!$_item->getActive()) { echo $_item->getUrl(); } else { echo $_item->getRemoveUrl(); } ?>" <?php if ($_item->getActive()) : ?> checked="checked"<?php endif; ?> >
                        <?php echo $_item->getLabel() ?>
                    <?php elseif ((int)$_item->getCount() == 0) : ?>
                        <input type="checkbox" class="ajax-option-checkbox" name="option<?php echo $_item->getValue() ?>" value="" DISABLED>
                        <?php echo $_item->getLabel() ?>
                    <?php endif; ?>
                    <?php if (!$_item->getActive() && Mage::getStoreConfig('ajaxlayerednavigation/general/show_quantity') && $_item->getCount() > 0) : ?>
                        <?php if ($this->getActiveFilter()) {
                            echo '<span class="ajaxlayerednavigation-count-plus">(+' . $_item->getCount() . ')</span>';
                        } else {
                            echo '<span class="ajaxlayerednavigation-count">(' . $_item->getCount() . ')</span>';
                        }
                        ?>
                    <?php endif; ?>
                </li>
            <?php endforeach ?>
        </ol>
        <a href="#" class="see-all-show" style="float: right; display: none;"><?php echo Mage::helper('ajaxlayerednavigation')->__('More...'); ?></a>
        <a href="#" class="see-all-hide" style="float: right; display: none;"><?php echo Mage::helper('ajaxlayerednavigation')->__('Hide'); ?></a>
    <?php endif; ?>
<?php endif; ?>