<?php
    $mobileNavigationEnabled = Mage::getStoreConfig('ajaxlayerednavigation/mobile/enabled');
    $mobileDeviceDetected = Mage::helper("ajaxlayerednavigation/mobile")->isMobileDeviceDetected();
    $_filters = $this->getActiveFilters();
?>
<?php if ($mobileNavigationEnabled && $mobileDeviceDetected) : ?>
    <?php
        $result = array();
        foreach ($_filters as $_filter) {
            $result[$this->stripTags($_filter->getName())][] = array(
                "label" => $this->stripTags($_filter->getLabel()),
                "url"   => $this->escapeHtml($_filter->getRemoveUrl())
            );
        }
    ?>
    <?php if(!empty($_filters)): ?>
        <div class="aln-mobile-state">
            <p class="block-subtitle">
                <?php echo Mage::helper('ajaxlayerednavigation')->__('Currently Shopping By') ?>
            </p>
            <?php foreach ($result as $attrLabel => $attrState) : ?>
                <div class="aln-mobile-state-attribute">
                    <span class="aln-mobile-attribute-title">
                        <?php echo $attrLabel ?>:
                    </span>
                    <?php foreach ($attrState as $item) : ?>
                        <div class="aln-state-chip">
                            <?php echo $item["label"] ?>
                            <span class="aln-state-chip-remove" data-href="<?php echo $item['url'] ?>">+</span>
                        </div>
                    <?php endforeach; ?>
                </div>
            <?php endforeach; ?>
            <div class="actions">
                <a class="aln-mobile-clear-all" href="<?php echo $this->escapeHtml($this->getClearUrl()) ?>">
                    <?php echo Mage::helper('ajaxlayerednavigation')->__('Clear All') ?>
                </a>
            </div>
        </div>
    <?php endif; ?>
<?php else : ?>
    <?php if (!Mage::helper('ajaxlayerednavigation')->isAdvancedSearchPage()) : ?>
        <?php if(!empty($_filters)): ?>
            <p class="block-subtitle">
                <?php echo Mage::helper('ajaxlayerednavigation')->__('Currently Shopping By') ?>
            </p>
            <ol class="currently">
            <?php foreach ($_filters as $_filter): ?>
                    <li>
                        <a href="<?php echo $this->escapeHtml($_filter->getRemoveUrl()) ?>" title="<?php echo Mage::helper('ajaxlayerednavigation')->__('Remove This Item') ?>" class="btn-remove">
                            <?php echo Mage::helper('ajaxlayerednavigation')->__('Remove This Item') ?>
                        </a>
                        <span class="label">
                            <?php echo $this->stripTags($_filter->getName()) ?>:
                        </span>
                        <?php echo $this->stripTags($_filter->getLabel()) ?>
                    </li>
            <?php endforeach; ?>
            </ol>
            <div class="actions">
                <a href="<?php echo $this->escapeHtml($this->getClearUrl()) ?>">
                    <?php echo Mage::helper('ajaxlayerednavigation')->__('Clear All') ?>
                </a>
            </div>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>