
<?php
$_dimHelper = Mage::helper('configurableswatches/swatchdimensions');
$_swatchInnerWidth = $_dimHelper->getInnerWidth(Mage_ConfigurableSwatches_Helper_Swatchdimensions::AREA_LAYER);
$_swatchInnerHeight = $_dimHelper->getInnerHeight(Mage_ConfigurableSwatches_Helper_Swatchdimensions::AREA_LAYER);
$_swatchOuterWidth = $_dimHelper->getOuterWidth(Mage_ConfigurableSwatches_Helper_Swatchdimensions::AREA_LAYER);
$_swatchOuterHeight = $_dimHelper->getOuterHeight(Mage_ConfigurableSwatches_Helper_Swatchdimensions::AREA_LAYER);
?>

<?php if (Mage::helper("ajaxlayerednavigation/mobile")->isMobileDeviceDetected()) : ?>
    <ul class="aln-mobile-options">
        <?php foreach ($this->getItems() as $_item) : ?>
            <?php if ($_item->getCount() || $_item->getActive()) : ?>
                <li>
                    <a href="<?php if (!$_item->getActive()) { echo $this->urlEscape($_item->getUrl()); } else { echo $this->urlEscape($_item->getRemoveUrl()); } ?>" onclick="return false;">
                        <?php
                            if ($this->getActiveFilter()) {
                                if ($_item->getMinus()) {
                                    echo '<span class="jquery-accordion-menu-label aln-mobile-green">'. $_item->getCount() .'</span>';
                                } else {
                                    if ($_item->getCount() > 0) {
                                        echo '<span class="jquery-accordion-menu-label aln-mobile-red"> +' . $_item->getCount() . '</span>';
                                    }
                                }
                            } else {
                                echo '<span class="jquery-accordion-menu-label aln-mobile-green"> ' . $_item->getCount() . '</span>';
                            }
                        ?>
                        <label>
                            <input type="checkbox" name="checkboxName" class="aln-filter-checkbox"/>
                            <div class="aln-option-switch <?php if ($_item->getCount() == 0) : ?>switchOn<?php endif; ?>"></div>
                            <p class="aln-option-label"><?php echo $this->urlEscape($_item->getLabel()) ?></p>
                        </label>
                    </a>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
<?php else : ?>

<ol class="configurable-swatch-list">
    <?php foreach ($this->getItems() as $_item): ?>
        <?php
        $_hasItems = ($_item->getCount() > 0);
        $_label = $_item->getLabel();
        $_swatchUrl = Mage::helper('configurableswatches/productimg')->getGlobalSwatchUrl($_item, $_label, $_swatchInnerWidth, $_swatchInnerHeight);
        $_hasImage = (!empty($_swatchUrl));
        $_linkClass = 'swatch-link' . (($_hasImage) ? ' has-image' : '');
        $_linkCss = 'height:' . $_swatchOuterHeight . 'px; ' . ((!$_hasImage) ? 'min-' : '') . 'width:' . $_swatchOuterWidth . 'px;';
        $_lineHeight = $_swatchOuterHeight + 2;
        ?>
        <li<?php if ($_hasImage){ echo ' style="line-height: ' . $_lineHeight . 'px;"'; } ?>>
            <?php if ($_hasItems): ?>
                <a href="<?php echo $this->urlEscape($_item->getUrl()) ?>" class="<?php echo $_linkClass ?>">
            <?php else: ?>
                <span class="<?php echo $_linkClass ?>">
            <?php endif; ?>
                <span class="swatch-label"<?php if ($_hasImage){ echo ' style="' . $_linkCss . '"'; } ?>>
                    <?php if ($_hasImage): ?>
                        <img src="<?php echo $_swatchUrl; ?>" alt="<?php echo $_label; ?>" title="<?php echo $_label ?>" width="<?php echo $_swatchInnerWidth ?>" height="<?php echo $_swatchInnerHeight ?>" />
                    <?php else: ?>
                        <?php echo $_label; ?>
                    <?php endif; ?>
                </span>
                <?php if (!$_item->getActive() && Mage::getStoreConfig('ajaxlayerednavigation/general/show_quantity') && $_item->getCount() > 0) : ?>
                    <?php if ($this->getActiveFilter()) {
                        echo '<span class="ajaxlayerednavigation-count-plus">(+' . $_item->getCount() . ')</span>';
                    } else {
                        echo '<span class="ajaxlayerednavigation-count">(' . $_item->getCount() . ')</span>';
                    }
                    ?>
                <?php endif; ?>
            <?php if ($_hasItems): ?>
                </a>
            <?php else: ?>
                </span>
            <?php endif; ?>
        </li>
    <?php endforeach ?>
</ol>
<?php endif; ?>