<?php if (Mage::helper("ajaxlayerednavigation/mobile")->isMobileDeviceDetected()) : ?>
    <button class="aln-mobile-button" title="<?php echo Mage::helper('ajaxlayerednavigation')->__('Filters') ?>">
        <?php echo Mage::helper('ajaxlayerednavigation')->__('Filters') ?>
    </button>
    <div id="mobile-layered-navigation" class="aln-mobile-navigation white">
        <div class="aln-mobile-title">
            <strong>
                <span>
                    <?php echo Mage::helper('ajaxlayerednavigation')->__('Shop By') ?>
                </span>
            </strong>
        </div>
        <a href="#" class="aln-close-mobile-nav"></a>
        <?php echo $this->getStateHtml() ?>
        <ul class="aln-mobile-list">
            <li class="aln-mobile-item">
                <?php $_filters = $this->getFilters(); ?>
                <?php foreach ($_filters as $_filter): ?>
                    <?php if($_filter->getItemsCount()): ?>
                        <?php if ($_filter->getAttributeModel()) : ?>
                            <?php
                                if ('price' == $_filter->getAttributeModel()->getFrontendInput()) {
                                    if ("price" !== $_filter->getAttributeModel()->getAttributeCode()) {
                                        if (!(int)$_filter->getMinValue() && !(int)$_filter->getMaxValue()) {
                                            continue;
                                        }
                                    }
                                }
                            ?>
                            <?php $attrID = $_filter->getAttributeModel()->getAttributeId(); ?>
                            <a href="#" id="aln-mobile-item-<?php echo $attrID ?>" class="aln-mobile-attribute-title">
                                <i class="attribute-icon"></i>
                                <?php echo $this->__($_filter->getName()) ?>
                                <span class="aln-mobile-show-hide">+</span>
                            </a>
                            <?php echo $_filter->getHtml() ?>
                        <?php endif; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            </li>
        </ul>
    </div>
<?php else : ?>
    <?php if($this->canShowBlock()): ?>
        <?php $style = Mage::getStoreConfig('ajaxlayerednavigation/left/style') ?>
        <div class="block block-layered-nav <?php if ($style == '4') : ?> ajaxlayerednav-menu<?php endif; ?>">
        <div class="block-title">
            <strong>
                <span>
                    <?php echo Mage::helper('ajaxlayerednavigation')->__('Shop By') ?>
                </span>
            </strong>
        </div>
        <div class="block-content">
            <?php echo $this->getStateHtml() ?>
            <?php if($this->canShowOptions()): ?>
                <dl id="narrow-by-list">
                    <?php $_filters = $this->getFilters() ?>
                    <?php foreach ($_filters as $_filter): ?>
                        <?php if($_filter->getItemsCount()): ?>
                            <?php if ($_filter->getAttributeModel()) : ?>
                            <?php
                                if ('price' == $_filter->getAttributeModel()->getFrontendInput()) {
                                    if ("price" !== $_filter->getAttributeModel()->getAttributeCode()) {
                                        if (!(int)$_filter->getMinValue() && !(int)$_filter->getMaxValue()) {
                                            continue;
                                        }
                                    }
                                }
                            ?>
                            <dt>
                                <?php if ($style == '3') : ?>
                                    <span class="ajaxlayered-expander">
                                        <?php echo $this->__($_filter->getName()) ?>
                                    </span>
                                <?php else : ?>
                                    <?php echo $this->__($_filter->getName()) ?>
                                <?php endif; ?>
                            </dt>
                            <?php
                                if ($_filter->getAttributeModel()) {
                                    $code = $_filter->getAttributeModel()->getFrontendInput();
                                } else {
                                    $code = '';
                                }
                            ?>
                            <?php if ('price' == $code) : ?>
                                <dd class="ajaxlayerednavigation-price"><?php echo $_filter->getHtml() ?></dd>
                            <?php else : ?>
                                <dd><?php echo $_filter->getHtml() ?></dd>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </dl>
                <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <?php endif; ?>
        </div>
        </div>
    <?php endif; ?>
<?php endif; ?>
