<!--@subject Thank you for the review(s), here is a small present! @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
	                        <p><strong>Hi {{var nickname}},</strong></p>
	                        <p>Bedankt voor het schrijven van een beoordeling!</p>
	                        <p>Als u vragen heeft over uw bestelling, coupon of andere zaken, aarzel dan niet om te antwoorden op deze e-mail.</p>
							{{depend coupon_msg}}
								<p>{{var coupon_msg}}</p>
							{{/depend}}
							<p>Nogmaals bedankt!<br/> <strong>{{var store.getFrontendName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
