.ajaxlayerednavigation-count {
  color: #666;
  display: none !important;
  float: right;
  font-size: 10px;
  font-weight: normal;
  margin-top: 2px;
}

.ajaxlayerednavigation-count-plus {
  display: none !important;
  float: right;
  font-size: 10px;
  font-weight: normal;
  margin-top: 2px;
}
