<?php
/** @var $this Mage_Catalog_Block_Product_View_Type_Configurable */
$product    = $this->getProduct();
$attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
$jsonConfig = $this->getJsonConfig();
$renderers = $this->getChild('attr_renderers')->getSortedChildren();
?>
<?php if ($product->isSaleable() && count($attributes)):?>
    <dl>
    <?php foreach($attributes as $attribute): ?>
        <?php
        $rendered = false;
        foreach ($renderers as $rendererName):
            $renderer = $this->getChild('attr_renderers')->getChild($rendererName);
            if (method_exists($renderer, 'shouldRender') && $renderer->shouldRender($attribute, $jsonConfig)):
                $renderer->setProduct($product);
                $renderer->setAttributeObj($attribute);
                echo $renderer->toHtml();
                $rendered = true;
                break;
            endif;
        endforeach;

        if (!$rendered):
        ?>
        <dt><label class="required"><em>*</em><?php echo $attribute->getLabel() ?></label></dt>
        <dd<?php if ($attribute->decoratedIsLast){?> class="last"<?php }?>>
            <div class="input-box">
                <div class="select-box">
                    <select name="super_attribute[<?php echo $attribute->getAttributeId() ?>]" id="attribute<?php echo $attribute->getAttributeId() ?>" class="required-entry super-attribute-select">
                        <option><?php echo $this->__('Choose an Option...') ?></option>
                    </select>
                </div>
              </div>
        </dd>
        <?php endif; ?>
    <?php endforeach; ?>
    </dl>
    <script type="text/javascript">
        var spConfig = new Product.Config(<?php echo $jsonConfig ?>);
    </script>
    <?php echo $this->getChildHtml('after') ?>
<?php endif;?>
