<a href="<?php echo $this->helper('customer')->getAccountUrl(); ?>" data-target-element="#header-account" class="skip-link skip-account">
    <?php if (! Mage::getSingleton('customer/session')->isLoggedIn()): ?>
        <span class="text"><?php echo $this->__('Sign In'); ?></span>
    <?php else: ?>
        <span class="text hidden-xs"><?php echo $this->__('My Account'); ?></span>
        <span class="text visible-xs"><?php echo $this->__('Account'); ?></span>
    <?php endif; ?>
</a>