<div class="promotion-callouts row ">
<?php
$baseUrl = Mage::getBaseUrl("media") . "wysiwyg/theme/";
/** @var Greenes_Theme_Block_Callouts $this */
foreach ($this->getCallouts() as $callout) :
    $image = $baseUrl . $callout->getImage();
    $url = $callout->getUrl();
    $description = $callout->getDescription();
    $button = $callout->getButton();

?>
<div class="promotion-category">
    <div class="promotion-image">
        <a href="<?php echo $url ?>">
            <img src="<?php echo $image ?>" />
        </a>
    </div>
    <div class="promotion-description">
        <h4 class="promotion-name">
            <a href="<?php echo $url; ?>">
                <?php echo $description; ?>
                <span href="<?php echo $url; ?>" class="btn btn-link promotion-button">
                    <?php echo $button; ?>
                    <span class="fa fa-caret-right"></span>
                </span>
            </a>
        </h4>
    </div>
</div>
<?php endforeach; ?>
</div>
