<?php /** @var Studioforty9_Stores_Model_Store $this */?>
<div class="stores">
    <h2 class="subtitle"><?php echo Mage::helper('contacts')->__('Our Locations'); ?></h2>
    <?php foreach ($this->getStores() as $_store): ?>
    <?php $hours = $_store->getHours(); ?>
    <div class="store" itemscope itemtype="http://schema.org/Store">
        <div class="store-info">
            <span class="store-name" itemprop="name"><?php echo $_store->getName(); ?></span>
            <div class="store-detail" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <?php if ($street = $_store->getStreet()): ?><span itemprop="streetAddress"><?php echo $street; ?></span><?php endif; ?>
                <?php if ($region = $_store->getRegion()): ?><span itemprop="addressRegion"><?php echo $region; ?></span><?php endif; ?>
                <?php if ($city = $_store->getCity()): ?><span itemprop="addressLocality"><?php echo $city; ?></span><?php endif; ?>
                <?php if ($postCode = $_store->getPostCode()): ?><span itemprop="postalCode"><?php echo $postCode; ?></span><?php endif; ?>
                <?php if ($country = $_store->getCountryName()): ?><span itemprop="addressCountry"><?php echo $country; ?></span><?php endif; ?>
            </div>
        </div>
        <div class="store-actions">
            <?php if ($phone = $_store->getTelephone()): ?>
            <a class="store-link" href="tel:<?php echo $phone; ?>">
                <span class="fa fa-phone"></span>
                <span itemprop="telephone"><?php echo $phone; ?></span>
            </a>
            <?php endif; ?>
            <?php if ($email = $_store->getEmail()): ?>
            <a class="store-link" href="mailto:<?php echo $email; ?>">
                <span class="fa fa-envelope"></span> <?php echo Mage::helper('contacts')->__('Email'); ?>
                <span style="display: none;" itemprop="email"><?php echo $email; ?></span>
            </a>
            <?php endif; ?>
            <?php if (!empty($hours)): ?>
            <a class="store-link opening-hours-activator" href="#opening-hours">
                <span class="fa fa-clock-o"></span>
                <?php echo Mage::helper('contacts')->__('Opening Hours'); ?>
            </a>
            <?php endif; ?>
            <?php
            $lat = $_store->getLatitude();
            $lng = $_store->getLongitude();
            ?>
            <?php if ($lat && $lng): ?>
            <a target="_blank" class="store-link" href="http://maps.google.com/?q=<?php echo $lat; ?>,<?php echo $lng; ?>">
                <span class="fa fa-map-marker"></span>
                <?php echo Mage::helper('contacts')->__('View Map'); ?>
            </a>
            <?php endif; ?>
        </div>
        <?php if (!empty($hours)): ?>
        <div class="store-hours" itemprop="openingHours" itemtype="http://schema.org/OpeningHoursSpecification">
            <?php foreach ($hours as $opening): ?>
            <div class="store-day">
                <strong class="store-hours-day"><?php echo $opening['day']; ?></strong>
                <?php if ($this->isClosed($opening)): ?>
                    <time class="store-hours-time"><?php echo Mage::helper('contacts')->__('Closed'); ?></time>
                <?php else: ?>
                    <time class="store-hours-time"><?php echo $opening['times']['open']; ?> - <?php echo $opening['times']['close']; ?></time>
                <?php endif; ?>
            </div>
            <?php endforeach; ?>
        </div>
        <?php endif; ?>
    </div>
    <?php endforeach; ?>
</div>
