<div class="site-container">
    <div class="callout-group callout-trust">
        <?php for ($i = 1; $i <= 3; $i++):
            $title = Mage::getStoreConfig("greenes_general/callouts/callout_$i");
            $url = Mage::getStoreConfig("greenes_general/callouts/callout_$i" . "_url");
            $icon = Mage::getStoreConfig("greenes_general/callouts/callout_$i" . "_icon");
            ?>
        <div class="callout callout-<?php echo $i; ?>">
            <a href="<?php echo $url; ?>" title="<?php echo $title; ?>">
                <span class="fa fa-<?php echo $icon; ?>"></span>
                <span class="text-uppercase"><?php echo $title; ?></span>
            </a>
        </div>
        <?php endfor; ?>
    </div>
</div>
