<?php
$_filters = $this->getActiveFilters();
if(empty($_filters)):
    return;
endif;

if (Mage::helper('ajaxlayerednavigation')->isAdvancedSearchPage()) :
    return;
endif;
?>
<dl class="currently">
    <dt class="odd active">
        <span class="ajaxlayered-expander"><?php echo Mage::helper('ajaxlayerednavigation')->__('Currently Shopping By') ?></span>
    </dt>
    <dd style="overflow: visible !important; display: block !important; height: auto !important;">
        <ol class="current-filters">
        <?php foreach ($_filters as $_filter): ?>
            <li class="applied-filter">
                <a href="<?php echo $this->escapeHtml($_filter->getRemoveUrl()) ?>" title="<?php echo Mage::helper('ajaxlayerednavigation')->__('Remove This Item') ?>" class="btn-remove">
                    <?php echo Mage::helper('ajaxlayerednavigation')->__('Remove This Item') ?>
                </a>
                <span class="label"><?php echo $this->stripTags($_filter->getName()) ?>:</span> <?php echo $this->stripTags($_filter->getLabel()) ?>
            </li>
        <?php endforeach; ?>
        </ol>
        <div class="actions clearfix">
            <a class="btn btn-danger btn-xs pull-right" href="<?php echo $this->escapeHtml($this->getClearUrl()) ?>">
                <?php echo Mage::helper('ajaxlayerednavigation')->__('Clear All') ?>
            </a>
        </div>
    </dd>
</dl>
