<?php
/**
 * StudioForty9 Checkout
 *
 * @category  Studioforty9
 * @package   Studioforty9_Checkout
 * @author    StudioForty9 <info@studioforty9.com>
 * @copyright 2015 StudioForty9 (http://www.studioforty9.com)
 * @license   https://github.com/studioforty9/checkout/blob/master/LICENCE BSD
 * @version   1.0.0
 * @link      https://github.com/studioforty9/checkout
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div id="check-account">
    <form id="email-form">
        <fieldset>
            <ul class="form-list">
                <li class="field">
                    <label for="check-email" class="required"><?php echo $this->__('Please enter your Email Address') ?></label>
                    <div class="input-box">
                        <input type="text" class="input-text required-entry validate-email" id="check-email" name="check-email" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" />
                    </div>
                </li>
            </ul>
        </fieldset>
    </form>
    <div class="buttons-set">
        <button type="submit" class="button" onclick="emailForm.checkEmail(this);"><span><span><?php echo $this->__('Continue') ?></span></span></button>
        <span class="please-wait" id="login-please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->quoteEscape($this->__('Loading next step...')) ?>" title="<?php echo $this->quoteEscape($this->__('Loading next step...')) ?>" class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
        </span>
    </div>
</div>

<div style="display: none;" id="has-account">
    <form id="login-form" action="<?php echo $this->getPostAction() ?>" method="post">
        <fieldset>
            <?php echo $this->getBlockHtml('formkey'); ?>
            <ul class="form-list">
                <input type="hidden" class="input-text required-entry validate-email" id="login-email" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" />
                <li class="field">
                    <label for="login-password" class="required"><?php echo $this->__('Welcome back! Please enter your Password') ?></label>
                    <div class="input-box">
                        <input type="password" class="input-text required-entry" id="login-password" name="login[password]" />
                    </div>
                </li>
                <li class="field">
                  <div class="simple-customer-exists">
                    <span class="current-customer-message"><span class="icon"></span> <?php echo $this->__('Hi, You have an account with us, Welcome back!'); ?></span>
                    <strong id="current-customer-email" class="current-customer-email"></strong>
                  </div>
                </li>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
            </ul>
        </fieldset>
    </form>
    <div class="buttons-set">
        <a href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>" class="f-left"><?php echo $this->__('Forgot your password?') ?></a>
        <button type="submit" class="button" onclick="loginForm.postLogin(this)" id="login-button"><span><span><?php echo $this->__('Login') ?></span></span></button>
        <button class="button" onclick="loginForm.goBack(this)"><span><span><?php echo $this->__('Back') ?></span></span></button>
    </div>
</div>

<script type="text/javascript">
//<![CDATA[
  var emailForm = new EmailForm('email-form', true);
  var loginForm = new LoginForm('login-form', true);
//]]>
</script>
