<?php
    $mobileNavigationEnabled = Mage::getStoreConfig('ajaxlayerednavigation/mobile/enabled');
    $mobileDeviceDetected = Mage::helper("ajaxlayerednavigation/mobile")->isMobileDeviceDetected();
    $baseRootId = Mage::app()->getStore()->getRootCategoryId();
    if (Mage::registry('current_category')) {
        $currentCategoryId = Mage::registry('current_category')->getId();
    } else {
        $currentCategoryId = $baseRootId;
    }

    if (Mage::getStoreConfig('ajaxlayerednavigation/seo/enabled')) {
        if ($this->isSeoHome() || $this->isHome()) {
            $seoPath = $this->getSeoCategoryUrl();
            $seoCategory = Mage::getBaseUrl() . $seoPath . Mage::getStoreConfig('ajaxlayerednavigation/seo/suffix').'/f';
        } else {
            $seoPath = $this->getSeoCategoryUrl();
            $seoCategory = Mage::getBaseUrl() . $seoPath . '/' . Mage::getStoreConfig('ajaxlayerednavigation/seo/suffix');
        }
    } else {
        $seoPath = null;
        $seoCategory = null;
    }

    if ($this->isCatalogSearchPage()) {
        $categoryUrl = Mage::getUrl('catalogsearch/result');
    } elseif ((int)$baseRootId == (int)$currentCategoryId) {
        if ($this->getRequest()->getModuleName() === 'attributepages') {
            $categoryUrl = $this->helper('core/url')->getCurrentUrl();
        } else {
            if (Mage::getStoreConfig('ajaxlayerednavigation/seo/enabled')) {
                $shopPath = 'ajaxlayerednavigation/' . Mage::getStoreConfig('ajaxlayerednavigation/seo/suffix').'/f/';
                $categoryUrl = Mage::getUrl($shopPath);
            } else {
                $categoryUrl = Mage::getUrl('ajaxlayerednavigation/layered/view');
            }
        }
    } else {
        $categoryUrl = Mage::registry('current_category')->getUrl();
    }
    $searchQuery = '';
    if (Mage::getStoreConfig('ajaxlayerednavigation/seo/enabled')) {
        if ($this->isCatalogSearchPage()) {
            $searchQuery = str_replace(" ", "+", $this->getRequest()->getParam('q'));
        }
    } else {
        if ($this->isCatalogSearchPage()) {
            $searchQuery = str_replace(" ", "+", $this->getRequest()->getParam('q'));
        }
    }
?>
<?php if ($mobileNavigationEnabled && $mobileDeviceDetected) : ?>
<!-- Mobile Layered Navigation -->
    <div id="aln-overlay"></div>
    <figure class="aln-mobile-loader">
        <div class="dotwrap dotwrap1"><div class="dot dot1"></div></div>
        <div class="dotwrap dotwrap2"><div class="dot dot2"></div></div>
        <div class="dotwrap dotwrap3"><div class="dot dot3"></div></div>
        <div class="dotwrap dotwrap4"><div class="dot dot4"></div></div>
        <div class="dotwrap dotwrap5"><div class="dot dot5"></div></div>
    </figure>
    <script type="text/javascript">
        var ajaxLayeredNavigationMobile;
        jQuery(document).ready(function($) {
            ajaxLayeredNavigationMobile = new LayeredNavigationMobile({
                currencySymbol : '<?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol() ?>',
                minPrice       : '<?php echo $this->getMinPrice() ?>',
                maxPrice       : '<?php echo $this->getMaxPrice() ?>',
                slider         : '<?php echo Mage::getStoreConfig('ajaxlayerednavigation/range/slider') ?>',
                seoUrls        : '<?php echo Mage::getStoreConfig('ajaxlayerednavigation/seo/enabled') ?>',
                seoCategory    : '<?php echo $seoCategory ?>',
                mageSuffix     : '<?php echo Mage::getStoreConfig('catalog/seo/category_url_suffix') ?>',
                seoSuffix      : '<?php echo Mage::getStoreConfig('ajaxlayerednavigation/seo/suffix') ?>',
                categoryUrl    : '<?php echo $categoryUrl ?>',
                isHome         : '<?php echo $this->isHome()?>',
                isCatalogSearch: '<?php echo $this->isCatalogSearchPage() ?>',
                searchQuery    : '<?php echo $searchQuery ?>'
            });
        });
    </script>
<?php else : ?>
<!-- Desktop Layered Navigation -->
<?php if (Mage::getStoreConfig('ajaxlayerednavigation/general/layered_loader')) : ?>
<?php $loaderConfigValue = Mage::getStoreConfig('ajaxlayerednavigation/general/layered_loader'); ?>
    <img
        id="ajax-loading-layer"
        style="display: none"
        src="<?php echo Mage::getBaseUrl('media') . 'ajaxlayerednavigation/' . $loaderConfigValue ?>"
        alt="Loading..." />
<?php endif; ?>

<script type="text/javascript">
    var ajaxlayerednavigation;
    function initAjaxLayeredNavigation(){
        ajaxlayerednavigation = new LayeredNavigation({
            'slider'         : '<?php echo Mage::getStoreConfig('ajaxlayerednavigation/range/slider') ?>',
            'fixedHeight'    : '<?php echo Mage::getStoreConfig('ajaxlayerednavigation/left/height') ?>',
            'seoUrls'        : '<?php echo Mage::getStoreConfig('ajaxlayerednavigation/seo/enabled') ?>',
            'seoCategory'    : '<?php echo $seoCategory ?>',
            'seoSuffix'      : '<?php echo Mage::getStoreConfig('catalog/seo/category_url_suffix') ?>',
            'minRange'       : '<?php echo $this->getMinPrice() ?>',
            'maxRange'       : '<?php echo $this->getMaxPrice() ?>',
            'minPrice'       : '<?php echo $this->getMinPrice() ?>',
            'maxPrice'       : '<?php echo $this->getMaxPrice() ?>',
            'mediaUrl'       : '<?php echo Mage::getBaseUrl('media')?>',
            'categoryUrl'    : '<?php echo $categoryUrl ?>',
            'useAjax'        : '<?php echo Mage::getStoreConfig('ajaxlayerednavigation/general/use_ajax') ?>',
            'countOption'    : '<?php echo Mage::getStoreConfig('ajaxlayerednavigation/general/display_count') ?>',
            'isHome'         : '<?php echo $this->isHome()?>',
            'isCatalogSearch': '<?php echo $this->isCatalogSearchPage() ?>',
            'searchQuery'    : '<?php echo $searchQuery ?>',
            'layerStyle'     : '<?php echo Mage::getStoreConfig('ajaxlayerednavigation/left/style') ?>',
            'priceErrorText' : '<?php echo Mage::helper('ajaxlayerednavigation')->__('Sorry but requested price range is invalid.') ?>',
        });
    }
    Event.observe(window, 'load', function() { //KB927917 fix
        initAjaxLayeredNavigation();
    });
</script>
<?php endif; ?>