<?php
/** @var Greenes_Promotions_Block_Category $this */
?>
<div class="promotion-category">
    <div class="promotion-image">
        <a href="<?php echo $this->getPromotionUrl() ?>">
            <img src="<?php echo $this->getPromotionImage() ?>" />
        </a>
    </div>
    <div class="promotion-description">
        <h4 class="promotion-name">
            <a href="<?php echo $this->getPromotionUrl() ?>">
                <?php echo $this->__($this->getPromotionNotes()) ?>
                <span href="<?php echo $this->getPromotionUrl() ?>" class="btn btn-link promotion-button">
                    <?php echo $this->__($this->getPromotionButtonText()) ?>
                    <span class="fa fa-caret-right"></span>
                </span>
            </a>
        </h4>
    </div>
</div>
