<?php
/** @var Greenes_Promotions_Block_Products $this */
/** @var Mage_Catalog_Model_Category $_category */
$_category = $this->getCategory();
/** @var Mage_Catalog_Model_Resource_Product_Collection $_products */
$_products = $this->getProducts();
$_products->getSelect()->order(new Zend_Db_Expr('RAND()'));
?>
<?php if (count($_products) > 0): ?>
<div class="promotion-products">
    <a href="<?php echo $_category->getUrl() ?>" class="promotion-details">
        <span class="promotion-heading"><?php echo $_category->getName() ?></span>
        <span class="promotion-body"><?php echo $this->__($_category->getPromotionHomepageNotes()) ?></span>
        <span class="btn promotion-button promotion-button-outline"><?php echo $this->__($_category->getPromotionHomepageButton()); ?></span>
    </a>
    <?php foreach ($_products as $_product): ?>
    <?php /** @var Mage_Catalog_Model_Product $_product */ ?>
    <a href="<?php echo $this->getProductUrl($_product) ?>" class="promotion-product">
        <span class="product-image">
            <?php $_imgSize = 300; ?>
            <img id="homepage-promotion-image-<?php echo $_product->getId(); ?>"
                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"
                 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
        </span>
        <span class="product-name"><?php echo $_product->getName() ?></span>
        <?php echo $this->getPriceHtml($_product, true) ?>
    </a>
    <?php endforeach; ?>
</div>
<?php endif; ?>
