<?php
$urlKey = Mage::app()->getRequest()->get('url_key');
/** Studioforty9_Brands_Model_Brand */
$brand =  Mage::getModel('studioforty9_brands/brand')->load($urlKey, 'url_key');
$description = $brand->getDescription();
if (! $description) {
    return;
}
$description = ltrim($description, "<p>");
$description = rtrim($description, "</p>");
?>
<div class="main-container category-description-container clearfix">
    <div class="category-description std">
        <p><?php echo $description; ?></p>
    </div>
</div>