<?php
/**
 * Studioforty9 Brands
 *
 * @category  Studioforty9
 * @package   Studioforty9_Brands
 * @author    StudioForty9 <info@studioforty9.com>
 * @copyright 2015 StudioForty9 (http://www.studioforty9.com)
 * @license   https://github.com/studioforty9/brands/blob/master/LICENCE BSD
 * @version   1.0.0
 * @link      https://github.com/studioforty9/brands
 */
?>
<?php /** @var Studioforty9_Brands_Block_Brand $this */ ?>
<?php
/** @var Studioforty9_Brands_Model_Brand $brand */
$collection = $this->getCollection();
$collection->setPageSize(1000);
$groups = array();
foreach($collection as $brand) {
    $url = $brand->getUrl();
    $name = $brand->getName();

    if (!array_key_exists($name[0], $groups)) {
        $groups[$name[0]] = array();
    }

    $groups[$name[0]][] = $brand;
}
$_collectionSize = count($groups);
?>
<div class="row brand-group">
<?php $i = 0; foreach($groups as $letter => $brands): ?>
    <?php if ($i % 3 == 0 && $i  !== 0): ?>
</div>
<div class="row brand-group">
    <?php endif; ?>
    <div class="col-sm-4">
        <h2 class="brand-group-title"><?php echo $letter; ?></h2>
        <ul class="brands-list list-unstyled clearfix">
        <?php foreach ($brands as $brand): ?>
        <?php
        $url = $brand->getUrl();
        $name = $brand->getName();
        ?>
            <li class="brand-link col-xs-12">
                <a href="<?php echo $url; ?>" title="<?php echo $name; ?>">
                    <?php echo $name; ?>
                </a>
            </li>
        <?php endforeach; ?>
        </ul>
    </div>
    <?php $i++; ?>
<?php endforeach; ?>
</div>
