<?php
$urlKey = Mage::app()->getRequest()->get('url_key');
$title = Mage::helper('greenes_brands/rewrite_product')->getBrandNameByUrlKey($urlKey);
?>

<div class="main-container category-title-container">
    <div class="page-title brand-title category-title">
        <h1 class="category-title-parents"><?php echo $title; ?></h1>
        <?php /*<div class="category-child-tags">
            <a class="category-child-tag" href="<?php echo $this->getUrl('brands'); ?>"><?php echo $this->__('Brands') ?> <span class="fa fa-caret-right"></span></a>
        </div>*/ ?>
    </div>
</div>
