<?php
/**
 * Category view template
 *
 * @var Mage_Catalog_Block_Category_View $this
 */
?>
<?php
$_helper    = $this->helper('catalog/output');
$_category  = $this->getCurrentCategory();
?>
<div class="main-container category-description-container col2-left-layout">
    <div class="main">
        <div class="col-main">
        <?php if ($_description=$this->getCurrentCategory()->getDescription()): ?>
            <div class="category-description std">
                <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
            </div>
        <?php endif; ?>
        </div>
    </div>
</div>
