<?php
/**
 * Category view template
 *
 * @var Mage_Catalog_Block_Category_View $this
 */
?>
<?php
$_helper    = $this->helper('catalog/output');
$_category  = $this->getCurrentCategory();
$_children = $_category->getChildrenCategories();
?>
<div class="main-container category-title-container">

    <div class="page-title category-title">
        <?php if ($this->IsTopCategory()): ?>
        <h1><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
        <?php else: ?>
        <?php $_parentCategories = $_category->getParentCategories(); ?>
        <h1 class="category-title-parents">
        <?php foreach ($_parentCategories as $_cat): ?>
            <?php echo $_helper->categoryAttribute($_cat, $_cat->getName(), 'name') ?>
        <?php endforeach; ?>
        </h1>
        <?php endif; ?>

        <?php /* if ($_children->count() > 0): ?>
        <div class="category-child-tags">
            <?php foreach ($_children as $_child): ?>
                <a class="category-child-tag" href="<?php echo $_child->getUrl(); ?>"><?php echo $_child->getName(); ?> <span class="fa fa-caret-right"></span></a>
            <?php endforeach; ?>
        </div>
        <?php endif; */ ?>
    </div>
</div>
