<div class="footer">
    <div class="footer-container">
        <div class="footer-branding">
            <img src="<?php echo $this->getSkinUrl('images/logo-small.png'); ?>" alt="" class="footer-logo" />
            <address class="copyright">Copyright &copy; <?php echo date("Y"); ?> Greenes Shoes</address>
        </div>
        <?php echo $this->getChildHtml() ?>
        <div class="footer-copyright">
            <ul class="payment-cards">
                <li class="card card-paypal hide"><?php echo $this->__('Paypal'); ?></li>
                <li class="card card-visa"><?php echo $this->__('Visa'); ?></li>
                <li class="card card-visa-debit"><?php echo $this->__('Visa Debit'); ?></li>
                <li class="card card-visa-electron"><?php echo $this->__('Visa Electron'); ?></li>
                <li class="card card-mastercard"><?php echo $this->__('Mastercard'); ?></li>
                <li class="card card-delta"><?php echo $this->__('Delta'); ?></li>
            </ul>
            <span class="attribution"><a href="http://www.studioforty9.com" target="_blank"><?php echo $this->__('Ecommerce website') ?></a> by StudioForty9.</span>
        </div>
    </div>
</div>
<?php if (Mage::helper('core')->isDevAllowed()): ?>
    <script type="text/javascript">document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<?php endif; ?>
<div class="hide">
    <?php echo $this->getChildHtml("footer.scripts"); ?>
</div>
