<?php
$links = array(
    "facebook"   => "Facebook",
    "twitter"    => "Twitter",
    "pinterest"  => "Pinterest",
    "youtube"    => "YouTube",
    "instagram"  => "Instagram",
    "googleplus" => "Google+",
);
?>
<div class="social-media">
    <h4 class="sm-heading"><?php echo $this->__('Follow Us') ?></h4>
    <?php foreach ($links as $config => $label):
        $link = Mage::getStoreConfig("greenes_general/social_media/$config");
        if (! $link) {
            continue;
        }
        ?>
    <a class="sm-link sm-<?php echo $config; ?>" target="_blank" href="<?php echo $link; ?>"> <?php echo $label; ?></a>
    <?php endforeach; ?>
</div>