<?php
$query = $this->helper('catalogsearch')->getEscapedQueryText();
?>
<div class="main-container category-title-container">
    <div class="page-title category-title search-title">
        <h1><?php echo $this->__("Search results for '%s'", $query); ?></h1>
    </div>
</div>
